#container{
    display:grid;
    width: 600px;
    height: 600px; 
    
    

    background-color: green;
}

.content{
    
    background-color: violet;
}

.trail{
    width: 20px;
    height: 20px;
    background-color: red;
}

.rangeslider{
    width: 50%;
    }

    .myslider {
        -webkit-appearance: none;
        background: #FCF3CF  ;
        width: 50%;
        height: 20px;
        opacity: 2;
       }


       .myslider:hover {
        opacity: 1;
    }

    .myslider::-webkit-slider-thumb {
        -webkit-appearance: none;
        cursor: pointer;
        background: #34495E  ;
        width: 5%;
        height: 20px;
    }
#test{
    background-color: blue;
}
