body{
    width: 100%;
    background-color: rgb(199,234,70);
}

#header{
    width: 50%;
    margin: 0px auto;
    background-color: rgb(229,76,84);
    border-style: solid;
    border-radius: 10px;
    border-color: black;
    border-width: 10px;
}

h1{
    height: 70px;
    margin: 0 auto;
    text-align: center;
    font: 4em "courier new";
    font-style: oblique;
    text-decoration: underline;
}

#main{
    width: 100%;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-gap: 5px;
}

#container{
    margin: 10px 100px;
    display:grid;
    width: 450px;
    height: 450px; 
    border-style: ridge;
    border-radius: 10px;
    border-color: red;
    border-width: 15px;
}

.content{
    background-color:rgb(255, 255, 255);
}

#buttons{
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 10px; 
    justify-items: end;
    align-items: end;
}

.button {
    background-color: rgb(0,191,255); 
    border: none;
    border-radius: 5px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

.button:hover {
    background-color: rgb(0,150,255);
    border: none;
    border-radius: 20px;
    color:rgb(200, 200, 200);
    padding: 15px 35px;
    text-align: center;
    text-decoration: bold;
    font-size: 20px;
}

